.catalog {
  margin-bottom: 40px;
  &__item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    background: #E8E8E8;
    color: #333;
    height: 220px;
    transition: .3s;
    &:hover {
      background: #2C8ABE;
      color: #fff;
      text-decoration: none;
    }
    &_bg_green:hover {
      background: #2DBE83;
    }
    &_product {
      flex-direction: column;
      height: auto;
    }
  }
  &__photo {
    width: 220px;
    height: 220px;
    overflow: hidden;
    flex: 0 0 220px;
    background: #E8E8E8;
    &_product {
      width: auto;
      height: auto;
      flex: 0 0 auto;
    }
  }
  &__inf {
    padding: 15px;
    width: 100%;
  }
  &__name {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    &:after {
      content: '';
      background: url(../img/cat-next.png) no-repeat;
      background-size: contain;
      width: 16px;
      height: 13px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -6px;
    }
    .catalog__item:hover &:after {
      background: url(../img/cat-next-white.png) no-repeat;
    }
  }
  &-id {
    margin-bottom: 40px;
    &__title {
      font-size: 18px;
      color: #333;
      font-weight: bold;
      margin-bottom: 30px;
    }
    &__text {
      line-height: 22px;
      margin-bottom: 30px;
    }
    &__brand {
      margin: 56px 0 30px;
    }
  }
}

.temp-pressure {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 90%;
  &__icon {
    margin-right: 5px;
  }
  &__title {
    margin-bottom: 13px;
    font-weight: bold;
  }
  &__value {
    padding-left: 23px;
    line-height: 20px;
  }
}

.dowload-id {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  &__item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-end;
  }
  &__icon {
    margin-right: 10px;
  }
  &__link {
    text-decoration: underline;
    font-weight: bold;
    color: #666;
  }
}

.table-id {
  &__title {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0;
  }
}

.table-default {
  th {
    color: #fff;
    background: #333;
    border-color: #D1CFCF;
    padding: 9px 20px 9px 30px;
  }
  td {
    color: #666666;
    border-color: #D1CFCF;
    padding: 8px 20px 8px 30px;
  }
  tbody > tr:nth-child(even) td {
    background: #E8E8E8;
  }
  tbody > tr:hover td {
    transition: .3s;
    background: lighten(#464646, 30);
    color: #fff;
  }
}
