.mobile-menu {
  display: none;
}

.mobile-menu-btn {
  top: 0;
  display: none;
  width: 50px;
  height: 50px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
  margin-left: auto;
  position: relative;
  border-radius: 50%; }
  .mobile-menu-btn__span, .mobile-menu-btn__span::before, .mobile-menu-btn__span::after {
    width: 25px !important;
    display: block;
  	position: absolute;
  	left: 0;
  	height: 3px !important;
  	background: #34495e;
  	transition: all .2s ease;
    margin-left: 12px; }
  .mobile-menu-btn__span::before {
    top: -7px !important;
    margin-left: 0; }
  .mobile-menu-btn__span::after {
    bottom: -7px !important;
    margin-left: 0; }
  .mobile-menu-btn.toggle-open .mobile-menu-btn__span::before {
    top: -12px !important;
  	-webkit-transform: translate3d(0,10px,0);
  	transform: translate3d(0,10px,0);
  }

.hc-offcanvas-nav li.nav-back a, .hc-offcanvas-nav li.nav-close a {
	background: darken($gcolor, 3);
	border-top: 1px solid darken($gcolor, 3);
	border-bottom: 1px solid darken($gcolor, 3);
  color: #fff;
  padding: 15px 17px;
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
	background: lighten($gcolor, 3);
}

.hc-offcanvas-nav .nav-item, .hc-offcanvas-nav a {
  padding: 20px 17px;
	font-size: 15px;
	color: $ad;
  border-bottom: 1px solid darken($gcolor, 3);
}

.hc-offcanvas-nav:not(.touch-device) a:hover {
	background: none;
}

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
	border-left: 1px solid darken($gcolor, 3);
}

.hc-offcanvas-nav li.nav-back a:hover, .hc-offcanvas-nav li.nav-close a:hover {
	background: none;
}
