.news-company {
  margin-bottom: 40px;
  &__hr {
    margin-bottom: 20px;
  }
  &__title_block {
    margin-bottom: 10px;
  }
  &__item {
    text-decoration: none;
    color: $tn;
    display: block;
    margin: 15px 0 15px 0;
    &:hover {
      text-decoration: none;
      color: $tn;
    }
    &:hover .news-company__img {
      transform: scale(1.1);
    }
    &_border_bottom {
      border-bottom: 1px solid #b6b6b6;
      padding-bottom: 20px;
    }
  }
  &__name {
    font-size: 20px;
    color: $tn;
    margin-bottom: 10px;
    text-decoration: none;
    transition: .3s;
    &:hover {
      opacity: .8;
    }
  }
  &__text {
    margin-bottom: 10px;
    line-height: 22px;
    min-height: 68px;
    overflow: hidden;
  }
  &__date {
    color: #989898;
    font-size: 15px;
  }
  &_bg_gray {
    background: #DDDDDD;
    padding: 40px 0 15px;
  }
  &__photo {
    margin-bottom: 20px;
    height: 165px;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    transition: .3s;
  }
  &__all {
    text-align: right;
    margin-top: 20px;
    &-link {
      font-size: 16px;
      color: $ad;
      transition: .3s;
      border-bottom: 1px solid lighten($ad, 30);
      &:hover {
        text-decoration: none;
        color: lighten($ad, 10);
        border-bottom: 1px solid transparent;
      }
    }
  }
}
