@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-italic-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"); }

::-webkit-input-placeholder {
  color: #666; }

::-moz-placeholder {
  color: #666; }

:-ms-input-placeholder {
  color: #666; }

::-ms-input-placeholder {
  color: #666; }

::placeholder {
  color: #666; }

::-moz-selection {
  background-color: orange;
  color: #fff; }

::selection {
  background-color: orange;
  color: #fff; }

input, textarea {
  outline: 0; }

input:focus:required:invalid, textarea:focus:required:invalid {
  border-color: red; }

input:required:valid, textarea:required:valid {
  border-color: green; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Helvetica Neue Medium",helvetica,arial,sans-serif;
  overflow-x: hidden;
  color: #666666; }

.pre-header {
  background: #333333; }
  .pre-header__phone-link {
    color: #fff; }
    .pre-header__phone-link:hover {
      color: #fff; }
  .pre-header__ul {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
  .pre-header__link {
    color: #f3f3f3;
    padding: 10px 0px 10px 20px;
    text-transform: uppercase;
    display: block;
    font-size: 13px; }
    .pre-header__link:hover {
      color: #fff;
      text-decoration: none; }
    .pre-header__link_color_green {
      color: #38af49; }
      .pre-header__link_color_green:hover {
        color: #3fc252; }

.header {
  padding: 15px 0 7px;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05); }

.general-nav__ul {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-bottom: 0; }

.general-nav__item {
  border-right: 1px solid #cccccc; }
  .general-nav__item_multiple {
    position: relative; }
    .general-nav__item_multiple:hover .general-nav__children {
      display: block; }
    .general-nav__item_multiple:hover .general-nav__link {
      color: #38af49;
      background: #333333; }

.general-nav__children {
  position: absolute;
  left: 0;
  top: 63px;
  width: 100%;
  height: auto;
  list-style: none;
  display: none;
  background: #333333;
  padding: 5px 0; }

.general-nav__child-link {
  padding: 3px 7px 3px 17px;
  display: block;
  color: #fff; }
  .general-nav__child-link:hover {
    text-decoration: none;
    color: #38af49; }

.general-nav__link {
  padding: 23px 20px;
  display: block;
  color: #24231f; }
  .general-nav__link:hover {
    text-decoration: none;
    color: #38af49; }
  .general-nav__link_active {
    color: #38af49;
    text-decoration: none; }

.search {
  background: #666;
  padding: 15px 0;
  display: none; }
  .search_active {
    display: block; }
  .search__title {
    color: #fff;
    font-size: 20px; }
  .search__input {
    line-height: 24px;
    padding: 10px;
    height: 44px;
    border-radius: 6px;
    border: 0px;
    -webkit-box-shadow: inset 2px 4px 8px #cecece;
            box-shadow: inset 2px 4px 8px #cecece;
    width: 100%; }
  .search__button {
    line-height: 39px;
    text-decoration: none;
    text-transform: uppercase;
    width: -moz-max-content;
    height: 36px;
    border-radius: 5px;
    background: #38af49;
    color: #fff;
    width: 90px !important;
    border: 0px;
    margin-left: -95px;
    font-size: 12px;
    outline: 0; }
  .search__close {
    width: 24px;
    height: 24px;
    background: url(../img/close-x.png) top left no-repeat;
    cursor: pointer; }
  .search-btn {
    background: url(../img/search-icon.png) center no-repeat;
    width: 30px;
    height: 31px;
    background-size: 100%;
    margin-top: 11px;
    padding: 0;
    margin-bottom: 11px;
    cursor: pointer; }

.mobile-menu-btn {
  top: 0;
  display: none;
  width: 50px;
  height: 50px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
  margin-left: auto;
  position: relative;
  border-radius: 50%; }

.mobile-menu-btn__span, .mobile-menu-btn__span::before, .mobile-menu-btn__span::after {
  width: 25px !important;
  display: block;
  position: absolute;
  left: 0;
  height: 3px !important;
  background: #34495e;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-left: 12px; }

.mobile-menu-btn__span::before {
  top: -7px !important;
  margin-left: 0; }

.mobile-menu-btn__span::after {
  bottom: -7px !important;
  margin-left: 0; }

.mobile-menu-btn.toggle-open .mobile-menu-btn__span::before {
  top: -12px !important;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0); }

.example-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
      grid-template-areas: "left right"; }

.example-grid > div:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left; }

.example-grid > div:last-child {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right; }

@media (max-width: 1199.98px) {
  .general-nav__link {
    padding: 23px 10px;
    font-size: 14px; }
  .general-nav__child-link {
    font-size: 14px; } }

@media (max-width: 991.98px) {
  .general-nav {
    display: none; }
  .mobile-menu-btn {
    display: block; }
  .search-btn {
    width: 45px;
    height: 45px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
    border-radius: 50%; } }

@media (max-width: 575.98px) {
  .example-grid {
    display: block; }
  .example-grid > div {
    padding: 10px 0; } }

.example-img {
  width: 100%; }

.parent {
  background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7); }
