@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-italic-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"); }

::-webkit-input-placeholder {
  color: #666; }

::-moz-placeholder {
  color: #666; }

:-ms-input-placeholder {
  color: #666; }

::-ms-input-placeholder {
  color: #666; }

::placeholder {
  color: #666; }

::-moz-selection {
  background-color: #38af49;
  color: #fff; }

::selection {
  background-color: #38af49;
  color: #fff; }

input, textarea {
  outline: 0; }

input:focus:required:invalid, textarea:focus:required:invalid {
  border-color: red; }

input:required:valid, textarea:required:valid {
  border-color: green; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Helvetica Neue Medium",helvetica,arial,sans-serif;
  overflow-x: hidden;
  color: #666666; }

.title-default {
  color: #464646;
  font-size: 38px;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px; }
  .title-default:hover {
    text-decoration: none;
    color: #464646;
    opacity: .8; }
  .title-default_arrow {
    position: relative;
    margin-bottom: 10px; }
    .title-default_arrow::after {
      content: '';
      background: url(../img/grey_strel.png);
      background-size: contain;
      position: absolute;
      right: -53px;
      top: 50%;
      width: 33px;
      height: 24px;
      margin-top: -12px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .title-default_arrow:hover::after {
      right: -58px; }

.wrap-header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9; }

.pre-header {
  background: #333333; }
  .pre-header__phone-link {
    color: #fff;
    display: block; }
    .pre-header__phone-link:hover {
      color: #fff; }
  .pre-header__ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
  .pre-header__link {
    color: #f3f3f3;
    padding: 10px 0px 10px 20px;
    text-transform: uppercase;
    display: block;
    font-size: 13px; }
    .pre-header__link:hover {
      color: #fff;
      text-decoration: none; }
    .pre-header__link_color_green {
      color: #38af49; }
      .pre-header__link_color_green:hover {
        color: #3fc252; }

.header {
  padding: 15px 0 0;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
  background: #fff; }

.logo {
  margin-top: -8px; }
  .logo__img_mobile {
    max-width: 130px; }

.general-nav__ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-bottom: 0; }

.general-nav__item {
  border-right: 1px solid #cccccc; }
  .general-nav__item_multiple:hover .general-nav__children {
    display: block; }
  .general-nav__item_multiple:hover .general-nav__link {
    color: #fff;
    background: #38af49; }

.general-nav__children {
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
  height: auto;
  list-style: none;
  display: none;
  background: #F7F7F7;
  padding: 25px 0 10px; }

.general-nav__child-link_full {
  margin-bottom: 10px; }

.general-nav__title {
  margin-left: 15px;
  margin-bottom: 11px; }

.general-nav__title-link {
  color: #666666; }
  .general-nav__title-link:hover {
    color: #38af49;
    text-decoration: none; }

.general-nav__child-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc; }

.general-nav__text {
  font-weight: 700; }

.general-nav__child-link {
  padding: 3px 7px 3px 17px;
  display: block;
  color: #666666; }
  .general-nav__child-link:hover {
    text-decoration: none;
    color: #38af49; }

.general-nav__link {
  padding: 23px 20px 28px;
  display: block;
  color: #24231f; }
  .general-nav__link:hover {
    text-decoration: none;
    color: #38af49; }
  .general-nav__link_active {
    color: #38af49;
    text-decoration: none; }

.search {
  background: #666;
  padding: 15px 0;
  display: none; }
  .search_active {
    display: block; }
  .search__title {
    color: #fff;
    font-size: 20px; }
  .search__input {
    line-height: 24px;
    padding: 10px;
    height: 44px;
    border-radius: 6px;
    border: 0px;
    -webkit-box-shadow: inset 2px 4px 8px #cecece;
            box-shadow: inset 2px 4px 8px #cecece;
    width: 100%; }
  .search__button {
    line-height: 39px;
    text-decoration: none;
    text-transform: uppercase;
    width: -moz-max-content;
    height: 36px;
    border-radius: 5px;
    background: #38af49;
    color: #fff;
    width: 90px !important;
    border: 0px;
    margin-left: -95px;
    font-size: 12px;
    outline: 0; }
  .search__close {
    width: 24px;
    height: 24px;
    background: url(../img/close-x.png) top left no-repeat;
    cursor: pointer; }
  .search-btn {
    background: url(../img/search-icon.png) center no-repeat;
    width: 30px;
    height: 31px;
    background-size: 100%;
    margin-top: 11px;
    padding: 0;
    margin-bottom: 11px;
    cursor: pointer; }

.mobile-menu {
  display: none; }

.mobile-menu-btn {
  top: 0;
  display: none;
  width: 50px;
  height: 50px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
  margin-left: auto;
  position: relative;
  border-radius: 50%; }

.mobile-menu-btn__span, .mobile-menu-btn__span::before, .mobile-menu-btn__span::after {
  width: 25px !important;
  display: block;
  position: absolute;
  left: 0;
  height: 3px !important;
  background: #34495e;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-left: 12px; }

.mobile-menu-btn__span::before {
  top: -7px !important;
  margin-left: 0; }

.mobile-menu-btn__span::after {
  bottom: -7px !important;
  margin-left: 0; }

.mobile-menu-btn.toggle-open .mobile-menu-btn__span::before {
  top: -12px !important;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0); }

.hc-offcanvas-nav li.nav-back a, .hc-offcanvas-nav li.nav-close a {
  background: #2b2b2b;
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  color: #fff;
  padding: 15px 17px; }

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #3b3b3b; }

.hc-offcanvas-nav .nav-item, .hc-offcanvas-nav a {
  padding: 20px 17px;
  font-size: 15px;
  color: #38af49;
  border-bottom: 1px solid #2b2b2b; }

.hc-offcanvas-nav:not(.touch-device) a:hover {
  background: none; }

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
  border-left: 1px solid #2b2b2b; }

.msk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 3;
  opacity: .5; }

.caption-slide {
  z-index: 9;
  opacity: .9;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
  -o-transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
  transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .caption-slide__text {
    margin: 0;
    font-size: 42px;
    line-height: normal;
    font-weight: 300;
    text-transform: uppercase; }

.main-slider.slick-dotted.slick-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 0; }

.tizzers-category {
  margin-bottom: 30px;
  padding: 20px 0 15px;
  background: -webkit-gradient(linear, left top, right top, color-stop(46%, #2C8ABE), color-stop(46%, #2DBE83));
  background: -o-linear-gradient(left, #2C8ABE 46%, #2DBE83 46%);
  background: linear-gradient(to right, #2C8ABE 46%, #2DBE83 46%); }
  .tizzers-category__cflex {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .tizzers-category__space {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .tizzers-category__item {
    margin-right: 15px;
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 126px;
        -ms-flex: 0 0 126px;
            flex: 0 0 126px;
    max-width: 126px; }
  .tizzers-category__title {
    margin-bottom: 15px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    position: relative; }
    .tizzers-category__title:hover {
      color: #fff;
      text-decoration: none; }
    .tizzers-category__title::after {
      content: '';
      background: url(../img/white_strel.png);
      background-size: contain;
      position: absolute;
      right: -33px;
      top: 4px;
      width: 24px;
      height: 17px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .tizzers-category__title:hover::after {
      right: -38px; }
  .tizzers-category__name {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(206, 173, 120, 0)));
    background: -o-linear-gradient(bottom, #000000, rgba(206, 173, 120, 0));
    background: linear-gradient(to top, #000000, rgba(206, 173, 120, 0));
    padding-left: 5px;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 12px; }
  .tizzers-category__link {
    color: #fff;
    display: block;
    position: relative;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .tizzers-category__link:hover {
      opacity: 0.8;
      color: #fff;
      text-decoration: none; }

.news-company {
  margin-bottom: 40px; }
  .news-company__item {
    text-decoration: none;
    color: #464646;
    display: block;
    margin: 15px 41px 15px 0; }
    .news-company__item:hover {
      text-decoration: none;
      color: #464646; }
    .news-company__item_border_bottom {
      border-bottom: 1px solid #b6b6b6;
      padding-bottom: 20px; }
  .news-company__name {
    font-size: 20px;
    color: #464646;
    margin-bottom: 10px;
    text-decoration: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .news-company__name:hover {
      opacity: .8; }
  .news-company__text {
    margin-bottom: 10px;
    line-height: 22px; }
  .news-company__date {
    color: #989898;
    font-size: 15px; }
  .news-company_bg_gray {
    background: #DDDDDD;
    padding: 40px 0 15px; }
  .news-company__photo {
    margin-bottom: 20px;
    height: 165px;
    overflow: hidden; }
  .news-company__img {
    width: 100%; }

.hero {
  min-height: 100vh;
  background: url("/img/our-company/hero-bg.jpg") no-repeat center top;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .hero--history {
    background: url("/img/history/hero-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center top 100px; }
  .hero--production {
    background: url("/img/production-types/hero-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center top 100px; }
  .hero--quality {
    background: url("/img/quality/hero-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center top 100px; }

.hero__text {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  width: 65%; }

@media (max-width: 991px) {
  .hero__text {
    width: 100%;
    font-size: 50px; } }

@media (max-width: 576px) {
  .hero__text {
    margin-top: 160px;
    font-size: 30px; } }

.about__item {
  background-color: #f7f7f7;
  padding: 0 15px;
  font-size: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 250px;
  background-repeat: no-repeat;
  background-position: right 20px center; }
  .about__item--subjects {
    background-image: url("../img/our-company/bg1.png"); }
  .about__item--cities {
    background-image: url("../img/our-company/bg2.png"); }
  .about__item--positions {
    background-image: url("../img/our-company/bg3.png"); }

.about__items:after {
  content: '';
  width: 100%;
  height: 10px;
  background: #666;
  display: block; }

.about__text--count {
  color: #38af49;
  font-size: 34px;
  display: block;
  margin-bottom: 5px; }

.about__text--custom {
  color: #585858;
  font-size: 20px;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline; }

@media (max-width: 767px) {
  .about__item {
    font-size: 17px;
    min-height: 223px; }
  .about__text--count {
    font-size: 50px; }
  .about__text--custom {
    font-size: 22px; } }

.production__item-img-wrap {
  position: relative; }

.production__item-title {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color: #fff;
  width: 100%;
  bottom: -70px;
  margin: 0; }
  .production__item-title--pipes {
    background: #0077be; }
  .production__item-title--fitings {
    background: #35c08d; }

.production__item-image {
  width: 100%;
  height: 300px; }

.production__tizzers {
  margin-top: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .production__tizzers .tizzers-category__item {
    margin-right: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 140px;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
    max-width: 140px; }
  .production__tizzers .tizzers-category__link img {
    width: 100%; }

.production__text {
  margin-top: 30px;
  font-weight: bold;
  color: #333333;
  min-height: 60px; }

@media (max-width: 767px) {
  .production__item-image {
    max-width: 100%;
    width: auto;
    height: auto; } }

.company__title {
  color: #464646;
  text-decoration: none;
  margin-top: 15px;
  font-size: 20px; }

.company__item {
  display: block; }
  .company__item:hover {
    text-decoration: none;
    opacity: .8; }

.company__img {
  height: 165px;
  max-height: 165px;
  background-size: cover;
  background-position: center center; }
  .company__img--history {
    background-image: url("../img/our-company/company-1.jpg"); }
  .company__img--quality {
    background-image: url("../img/our-company/company-2.jpg"); }
  .company__img--production {
    background-image: url("../img/our-company/company-3.jpg"); }

.timeline {
  margin-top: 50px; }
  .timeline__item-img {
    max-width: 100%; }
  .timeline__item-text {
    margin-top: 20px;
    text-align: justify; }
  .timeline__list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%; }
    .timeline__list:before {
      content: '';
      position: absolute;
      left: 50%;
      width: 2px;
      height: 100%;
      margin-left: -1px;
      background: #2cbe82; }
  .timeline__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .timeline__item:first-child .timeline__item-year {
      top: 0px; }
    .timeline__item:nth-child(odd) {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .timeline__item:nth-child(odd) .timeline__item-year {
        left: 50%;
        -webkit-transform: translateX(-98px);
            -ms-transform: translateX(-98px);
                transform: translateX(-98px); }
        .timeline__item:nth-child(odd) .timeline__item-year:before {
          content: '';
          position: absolute;
          right: 105px;
          top: 9px;
          border: 15px solid transparent;
          border-right: 15px solid #2CBE82; }
      .timeline__item:nth-child(odd) .timeline__item-wrap {
        padding-right: 121px; }
    .timeline__item:nth-child(even) {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .timeline__item:nth-child(even) .timeline__item-year {
        right: 50%;
        -webkit-transform: translateX(106px);
            -ms-transform: translateX(106px);
                transform: translateX(106px); }
        .timeline__item:nth-child(even) .timeline__item-year:before {
          content: '';
          position: absolute;
          right: -30px;
          top: 9px;
          border: 15px solid transparent;
          border-left: 15px solid #2CBE82; }
      .timeline__item:nth-child(even) .timeline__item-wrap {
        padding-left: 121px; }
  .timeline__item-year {
    position: absolute;
    top: 30px;
    margin-left: -8px;
    color: #FFF;
    width: 105px;
    display: block;
    height: 48px;
    line-height: 48px;
    background: #2CBE82;
    padding: 0px 20px; }
  .timeline__item-wrap {
    width: 50%;
    padding: 10px 0px; }

@media (min-width: 767px) {
  .timeline__item:not(:first-child) {
    margin-top: -150px; } }

@media (max-width: 767px) {
  .timeline__list:before {
    left: 30px; }
  .timeline__item {
    padding-left: 45px; }
    .timeline__item:nth-child(odd) .timeline__item-wrap {
      padding-right: 0; }
    .timeline__item:nth-child(odd) .timeline__item-year {
      left: 54px;
      -webkit-transform: translateX(0); }
    .timeline__item:nth-child(even) .timeline__item-wrap {
      padding-left: 0; }
    .timeline__item:nth-child(even) .timeline__item-year {
      left: 54px;
      -webkit-transform: translateX(0); }
      .timeline__item:nth-child(even) .timeline__item-year:before {
        content: '';
        border: 15px solid transparent;
        border-right: 15px solid #2CBE82;
        right: 105px; }
    .timeline__item-wrap {
      width: 100%;
      text-align: left;
      padding-top: 50px;
      margin-top: 35px; } }

.production-type {
  padding: 60px 0; }
  .production-type:not(:last-child) {
    border-bottom: 10px solid #65696e; }
  .production-type__image {
    width: 100%; }

.quality {
  height: 688px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .quality--raw {
    background: url("../img/quality/con2.jpg") no-repeat; }
  .quality--equipment {
    background: url("../img/quality/con3.jpg") no-repeat; }
  .quality--peoples {
    background: url("../img/quality/con4.jpg") no-repeat; }
  .quality--control {
    background: url("../img/quality//con5.jpg") no-repeat; }
  .quality__inner {
    padding-top: 400px;
    background: #fff;
    padding: 30px;
    border-bottom: 12px solid #0077be; }

.marketing__item {
  padding: 60px 0; }
  .marketing__item:not(:last-child) {
    border-bottom: 10px solid #65696e; }

.marketing__image {
  width: 100%; }

.example-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
      grid-template-areas: "left right"; }

.example-grid > div:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left; }

.example-grid > div:last-child {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right; }

.section {
  padding: 60px 0; }

@media (max-width: 1199.98px) {
  .general-nav__link {
    padding: 23px 10px;
    font-size: 14px; }
  .general-nav__child-link {
    font-size: 14px; }
  .general-nav__children {
    top: 117px; }
  .tizzers-category {
    background: -webkit-gradient(linear, left top, right top, color-stop(45%, #2C8ABE), color-stop(45%, #2DBE83));
    background: -o-linear-gradient(left, #2C8ABE 45%, #2DBE83 45%);
    background: linear-gradient(to right, #2C8ABE 45%, #2DBE83 45%); }
  .tizzers-category__group:first-child {
    padding-right: 10px; }
  .tizzers-category__group:last-child {
    padding-left: 10px; }
  .tizzers-category__item {
    margin-right: 10px; }
  .tizzers-category__name {
    font-size: 11px; } }

@media (max-width: 991.98px) {
  .header {
    padding-bottom: 7px; }
  .general-nav {
    display: none; }
  .mobile-menu-btn {
    display: block; }
  .search-btn {
    width: 45px;
    height: 45px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
    border-radius: 50%; }
  .caption-slide__text {
    font-size: 34px;
    line-height: 44px; }
  .tizzers-category__cflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .tizzers-category__group {
    padding: 0;
    margin-bottom: 30px; }
  .tizzers-category__group:last-child {
    margin-bottom: 0; }
  .tizzers-category {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(49%, #2C8ABE), color-stop(49%, #2DBE83));
    background: -o-linear-gradient(bottom, #2C8ABE 49%, #2DBE83 49%);
    background: linear-gradient(to top, #2C8ABE 49%, #2DBE83 49%); }
  .tizzers-category__item:last-child {
    margin-right: 0; } }

@media (max-width: 767.98px) {
  .caption-slide__text {
    font-size: 26px;
    line-height: 34px; }
  .section {
    padding: 30px 0; }
  .quality {
    height: 397px; } }

@media (max-width: 575.98px) {
  .logo {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center; }
  .caption-slide__text {
    font-size: 20px;
    line-height: 28px; }
  .tizzers-category__space {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .tizzers-category__item {
    margin: 0 5px 15px; }
  .tizzers-category {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(61%, #2C8ABE), color-stop(61%, #2DBE83));
    background: -o-linear-gradient(bottom, #2C8ABE 61%, #2DBE83 61%);
    background: linear-gradient(to top, #2C8ABE 61%, #2DBE83 61%); } }

@media (max-width: 442px) {
  .tizzers-category {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(51%, #2C8ABE), color-stop(51%, #2DBE83));
    background: -o-linear-gradient(bottom, #2C8ABE 51%, #2DBE83 51%);
    background: linear-gradient(to top, #2C8ABE 51%, #2DBE83 51%); } }

@media (max-width: 428px) {
  .pre-header__phone-link {
    margin-bottom: 10px; } }

@media (max-width: 380px) {
  .tizzers-category__item {
    margin: 0 0 15px; } }

@media (max-width: 575.98px) {
  .example-grid {
    display: block; }
  .example-grid > div {
    padding: 10px 0; } }

.example-img {
  width: 100%; }

.parent {
  background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7); }
