@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-italic-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"); }

::-webkit-input-placeholder {
  color: #666; }

::-moz-placeholder {
  color: #666; }

:-ms-input-placeholder {
  color: #666; }

::-ms-input-placeholder {
  color: #666; }

::placeholder {
  color: #666; }

::-moz-selection {
  background-color: #38af49;
  color: #fff; }

::selection {
  background-color: #38af49;
  color: #fff; }

input, textarea {
  outline: 0; }

input:focus:required:invalid, textarea:focus:required:invalid {
  border-color: red; }

input:required:valid, textarea:required:valid {
  border-color: green; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Helvetica Neue Medium",helvetica,arial,sans-serif;
  overflow-x: hidden;
  color: #666666; }

h1 {
  font-size: 42px;
  margin-bottom: 36px; }

a {
  color: #666666;
  text-decoration: none;
  background-color: transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  a:hover {
    color: #38af49; }

.content {
  min-height: 500px;
  padding: 50px 0; }

.title-default {
  color: #464646;
  font-size: 38px;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px; }
  .title-default:hover {
    text-decoration: none;
    color: #464646;
    opacity: .8; }
  .title-default_arrow {
    position: relative;
    margin-bottom: 10px; }
    .title-default_arrow::after {
      content: '';
      background: url(../img/grey_strel.png);
      background-size: contain;
      position: absolute;
      right: -53px;
      top: 50%;
      width: 33px;
      height: 24px;
      margin-top: -12px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .title-default_arrow:hover::after {
      right: -58px; }

.wrap-header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9; }

.pre-header {
  background: #333333; }
  .pre-header__phone-link {
    color: #fff;
    display: block; }
    .pre-header__phone-link:hover {
      color: #fff; }
  .pre-header__ul {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
  .pre-header__link {
    color: #f3f3f3;
    padding: 10px 0px 10px 20px;
    text-transform: uppercase;
    display: block;
    font-size: 13px; }
    .pre-header__link:hover {
      color: #fff;
      text-decoration: none; }
    .pre-header__link_color_green {
      color: #38af49; }
      .pre-header__link_color_green:hover {
        color: #3fc252; }

.header {
  padding: 15px 0 0;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.05);
  background: #fff; }

.wr-se-head.fixed-top .general-nav__children {
  top: 84px; }

.logo {
  margin-top: -8px; }
  .logo__img_mobile {
    max-width: 130px; }
  .logo_footer {
    margin-top: 0; }

.general-nav__ul {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-bottom: 0; }

.general-nav__item {
  border-right: 1px solid #cccccc; }
  .general-nav__item_multiple:hover .general-nav__children {
    display: block; }
  .general-nav__item_multiple:hover .general-nav__link {
    color: #fff;
    background: #38af49; }

.general-nav__children {
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
  height: auto;
  list-style: none;
  display: none;
  background: #F7F7F7;
  padding: 25px 0 10px; }

.general-nav__child-link_full {
  margin-bottom: 10px; }

.general-nav__title {
  margin-left: 15px;
  margin-bottom: 11px; }

.general-nav__title-link {
  color: #666666; }
  .general-nav__title-link:hover {
    color: #38af49;
    text-decoration: none; }

.general-nav__child-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc; }

.general-nav__text {
  font-weight: 700; }

.general-nav__child-link {
  padding: 3px 7px 3px 17px;
  display: block;
  color: #666666; }
  .general-nav__child-link:hover {
    text-decoration: none;
    color: #38af49; }

.general-nav__link {
  padding: 23px 20px 28px;
  display: block;
  color: #24231f; }
  .general-nav__link:hover {
    text-decoration: none;
    color: #38af49; }
  .general-nav__link_active {
    color: #38af49;
    text-decoration: none; }

.search {
  background: #666;
  padding: 15px 0;
  display: none; }
  .search_active {
    display: block; }
  .search__title {
    color: #fff;
    font-size: 20px; }
  .search__input {
    line-height: 24px;
    padding: 10px;
    height: 44px;
    border-radius: 6px;
    border: 0px;
    -webkit-box-shadow: inset 2px 4px 8px #cecece;
            box-shadow: inset 2px 4px 8px #cecece;
    width: 100%; }
  .search__button {
    line-height: 39px;
    text-decoration: none;
    text-transform: uppercase;
    width: -moz-max-content;
    height: 36px;
    border-radius: 5px;
    background: #38af49;
    color: #fff;
    width: 90px !important;
    border: 0px;
    margin-left: -95px;
    font-size: 12px;
    outline: 0; }
  .search__close {
    width: 24px;
    height: 24px;
    background: url(../img/close-x.png) top left no-repeat;
    cursor: pointer; }
  .search-btn {
    background: url(../img/search-icon.png) center no-repeat;
    width: 30px;
    height: 31px;
    background-size: 100%;
    margin-top: 11px;
    padding: 0;
    margin-bottom: 11px;
    cursor: pointer; }

.mobile-menu {
  display: none; }

.mobile-menu-btn {
  top: 0;
  display: none;
  width: 50px;
  height: 50px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
  margin-left: auto;
  position: relative;
  border-radius: 50%; }

.mobile-menu-btn__span, .mobile-menu-btn__span::before, .mobile-menu-btn__span::after {
  width: 25px !important;
  display: block;
  position: absolute;
  left: 0;
  height: 3px !important;
  background: #34495e;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-left: 12px; }

.mobile-menu-btn__span::before {
  top: -7px !important;
  margin-left: 0; }

.mobile-menu-btn__span::after {
  bottom: -7px !important;
  margin-left: 0; }

.mobile-menu-btn.toggle-open .mobile-menu-btn__span::before {
  top: -12px !important;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0); }

.hc-offcanvas-nav li.nav-back a, .hc-offcanvas-nav li.nav-close a {
  background: #2b2b2b;
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  color: #fff;
  padding: 15px 17px; }

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #3b3b3b; }

.hc-offcanvas-nav .nav-item, .hc-offcanvas-nav a {
  padding: 20px 17px;
  font-size: 15px;
  color: #38af49;
  border-bottom: 1px solid #2b2b2b; }

.hc-offcanvas-nav:not(.touch-device) a:hover {
  background: none; }

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
  border-left: 1px solid #2b2b2b; }

.hc-offcanvas-nav li.nav-back a:hover, .hc-offcanvas-nav li.nav-close a:hover {
  background: none; }

.msk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 3;
  opacity: .5; }

.caption-slide {
  z-index: 9;
  opacity: .9;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
  -o-transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
  transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .caption-slide__text {
    margin: 0;
    font-size: 42px;
    line-height: normal;
    font-weight: 300;
    text-transform: uppercase; }

.main-slider.slick-dotted.slick-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 0; }

.tizzers-category {
  margin-bottom: 30px;
  padding: 20px 0 15px;
  background: -webkit-gradient(linear, left top, right top, color-stop(46%, #2C8ABE), color-stop(46%, #2DBE83));
  background: -o-linear-gradient(left, #2C8ABE 46%, #2DBE83 46%);
  background: linear-gradient(to right, #2C8ABE 46%, #2DBE83 46%); }
  .tizzers-category__cflex {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .tizzers-category__space {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .tizzers-category__item {
    margin-right: 15px;
    color: #fff;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 126px;
            flex: 0 0 126px;
    max-width: 126px; }
  .tizzers-category__title {
    margin-bottom: 15px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    position: relative; }
    .tizzers-category__title:hover {
      color: #fff;
      text-decoration: none; }
    .tizzers-category__title::after {
      content: '';
      background: url(../img/white_strel.png);
      background-size: contain;
      position: absolute;
      right: -33px;
      top: 4px;
      width: 24px;
      height: 17px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .tizzers-category__title:hover::after {
      right: -38px; }
  .tizzers-category__name {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(206, 173, 120, 0)));
    background: -o-linear-gradient(bottom, #000000, rgba(206, 173, 120, 0));
    background: linear-gradient(to top, #000000, rgba(206, 173, 120, 0));
    padding-left: 5px;
    height: 100%;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 12px; }
  .tizzers-category__link {
    color: #fff;
    display: block;
    position: relative;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .tizzers-category__link:hover {
      opacity: 0.8;
      color: #fff;
      text-decoration: none; }

.news-company {
  margin-bottom: 40px; }
  .news-company__hr {
    margin-bottom: 20px; }
  .news-company__title_block {
    margin-bottom: 10px; }
  .news-company__item {
    text-decoration: none;
    color: #464646;
    display: block;
    margin: 15px 0 15px 0; }
    .news-company__item:hover {
      text-decoration: none;
      color: #464646; }
    .news-company__item:hover .news-company__img {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .news-company__item_border_bottom {
      border-bottom: 1px solid #b6b6b6;
      padding-bottom: 20px; }
  .news-company__name {
    font-size: 20px;
    color: #464646;
    margin-bottom: 10px;
    text-decoration: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .news-company__name:hover {
      opacity: .8; }
  .news-company__text {
    margin-bottom: 10px;
    line-height: 22px;
    min-height: 68px;
    overflow: hidden; }
  .news-company__date {
    color: #989898;
    font-size: 15px; }
  .news-company_bg_gray {
    background: #DDDDDD;
    padding: 40px 0 15px; }
  .news-company__photo {
    margin-bottom: 20px;
    height: 165px;
    overflow: hidden; }
  .news-company__img {
    width: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .news-company__all {
    text-align: right;
    margin-top: 20px; }
    .news-company__all-link {
      font-size: 16px;
      color: #38af49;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      border-bottom: 1px solid #a0e0a9; }
      .news-company__all-link:hover {
        text-decoration: none;
        color: #52c863;
        border-bottom: 1px solid transparent; }

.hero {
  min-height: 100vh;
  background: url("/img/our-company/hero-bg.jpg") no-repeat center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .hero--history {
    background: url("/img/history/hero-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center top 100px; }
  .hero--production {
    background: url("/img/production-types/hero-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center top 100px; }
  .hero--quality {
    background: url("/img/quality/hero-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center top 100px; }
  .hero--marketing {
    background: url("/img/marketing/hero-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center top 100px; }
  .hero--partners {
    background: url("/img/partners/hero-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center top 100px; }
  .hero--portfolio {
    background: url("/img/portfolio/hero-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center top 100px; }
  .hero--tech-support {
    background: url("/img/tech-support/hero-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center top 100px; }

.hero__text {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  width: 65%;
  margin-top: 120px; }

@media (max-width: 991px) {
  .hero__text {
    width: 100%;
    font-size: 50px; } }

@media (max-width: 576px) {
  .hero__text {
    margin-top: 160px;
    font-size: 30px; } }

.about__item {
  background-color: #f7f7f7;
  padding: 0 15px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 250px;
  background-repeat: no-repeat;
  background-position: right 20px center; }
  .about__item--subjects {
    background-image: url("../img/our-company/bg1.png"); }
  .about__item--cities {
    background-image: url("../img/our-company/bg2.png"); }
  .about__item--positions {
    background-image: url("../img/our-company/bg3.png"); }

.about__items:after {
  content: '';
  width: 100%;
  height: 10px;
  background: #666;
  display: block; }

.about__text--count {
  color: #38af49;
  font-size: 34px;
  display: block;
  margin-bottom: 5px; }

.about__text--custom {
  color: #585858;
  font-size: 20px;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline; }

@media (max-width: 767px) {
  .about__item {
    font-size: 17px;
    min-height: 223px; }
  .about__text--count {
    font-size: 50px; }
  .about__text--custom {
    font-size: 22px; } }

.production__item-img-wrap {
  position: relative; }

.production__item-title {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color: #fff;
  width: 100%;
  bottom: -70px;
  margin: 0; }
  .production__item-title--pipes {
    background: #0077be; }
  .production__item-title--fitings {
    background: #35c08d; }

.production__item-image {
  width: 100%;
  height: 300px; }

.production__tizzers {
  margin-top: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .production__tizzers .tizzers-category__item {
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
    max-width: 140px; }
  .production__tizzers .tizzers-category__link img {
    width: 100%; }

.production__text {
  margin-top: 30px;
  font-weight: bold;
  color: #333333;
  min-height: 60px; }

@media (max-width: 767px) {
  .production__item-image {
    max-width: 100%;
    width: auto;
    height: auto; } }

.company__title {
  color: #464646;
  text-decoration: none;
  margin-top: 15px;
  font-size: 20px; }

.company__item {
  display: block; }
  .company__item:hover {
    text-decoration: none;
    opacity: .8; }

.company__img {
  height: 165px;
  max-height: 165px;
  background-size: cover;
  background-position: center center; }
  .company__img--history {
    background-image: url("../img/our-company/company-1.jpg"); }
  .company__img--quality {
    background-image: url("../img/our-company/company-2.jpg"); }
  .company__img--production {
    background-image: url("../img/our-company/company-3.jpg"); }

.timeline {
  margin-top: 50px; }
  .timeline__item-img {
    max-width: 100%; }
  .timeline__item-text {
    margin-top: 20px;
    text-align: justify; }
  .timeline__list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%; }
    .timeline__list:before {
      content: '';
      position: absolute;
      left: 50%;
      width: 2px;
      height: 100%;
      margin-left: -1px;
      background: #2cbe82; }
  .timeline__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .timeline__item:first-child .timeline__item-year {
      top: 0px; }
    .timeline__item:nth-child(odd) {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .timeline__item:nth-child(odd) .timeline__item-year {
        left: 50%;
        -webkit-transform: translateX(-98px);
            -ms-transform: translateX(-98px);
                transform: translateX(-98px); }
        .timeline__item:nth-child(odd) .timeline__item-year:before {
          content: '';
          position: absolute;
          right: 105px;
          top: 9px;
          border: 15px solid transparent;
          border-right: 15px solid #2CBE82; }
      .timeline__item:nth-child(odd) .timeline__item-wrap {
        padding-right: 121px; }
    .timeline__item:nth-child(even) {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .timeline__item:nth-child(even) .timeline__item-year {
        right: 50%;
        -webkit-transform: translateX(106px);
            -ms-transform: translateX(106px);
                transform: translateX(106px); }
        .timeline__item:nth-child(even) .timeline__item-year:before {
          content: '';
          position: absolute;
          right: -30px;
          top: 9px;
          border: 15px solid transparent;
          border-left: 15px solid #2CBE82; }
      .timeline__item:nth-child(even) .timeline__item-wrap {
        padding-left: 121px; }
  .timeline__item-year {
    position: absolute;
    top: 30px;
    margin-left: -8px;
    color: #FFF;
    width: 105px;
    display: block;
    height: 48px;
    line-height: 48px;
    background: #2CBE82;
    padding: 0px 20px; }
  .timeline__item-wrap {
    width: 50%;
    padding: 10px 0px; }

@media (min-width: 767px) {
  .timeline__item:not(:first-child) {
    margin-top: -150px; } }

@media (max-width: 767px) {
  .timeline__list:before {
    left: 30px; }
  .timeline__item {
    padding-left: 45px; }
    .timeline__item:nth-child(odd) .timeline__item-wrap {
      padding-right: 0; }
    .timeline__item:nth-child(odd) .timeline__item-year {
      left: 54px;
      -webkit-transform: translateX(0); }
    .timeline__item:nth-child(even) .timeline__item-wrap {
      padding-left: 0; }
    .timeline__item:nth-child(even) .timeline__item-year {
      left: 54px;
      -webkit-transform: translateX(0); }
      .timeline__item:nth-child(even) .timeline__item-year:before {
        content: '';
        border: 15px solid transparent;
        border-right: 15px solid #2CBE82;
        right: 105px; }
    .timeline__item-wrap {
      width: 100%;
      text-align: left;
      padding-top: 50px;
      margin-top: 35px; } }

.production-type {
  padding: 60px 0; }
  .production-type:not(:last-child) {
    border-bottom: 10px solid #65696e; }
  .production-type__image {
    width: 100%; }

.quality {
  height: 688px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .quality--raw {
    background: url("../img/quality/con2.jpg") no-repeat; }
  .quality--equipment {
    background: url("../img/quality/con3.jpg") no-repeat; }
  .quality--peoples {
    background: url("../img/quality/con4.jpg") no-repeat; }
  .quality--control {
    background: url("../img/quality//con5.jpg") no-repeat; }
  .quality__inner {
    padding-top: 400px;
    background: #fff;
    padding: 30px;
    border-bottom: 12px solid #0077be; }

.marketing__item {
  padding: 60px 0; }
  .marketing__item:not(:last-child) {
    border-bottom: 10px solid #65696e; }

.marketing__image {
  width: 100%; }

.partners-item {
  padding: 60px 0; }
  .partners-item:not(:last-child) {
    border-bottom: 10px solid #65696e; }
  .partners-item__img-wrap {
    text-align: right; }
  .partners-item__image {
    max-width: 100%; }
  .partners-item__document {
    color: #fff;
    display: inline-block;
    border: 1px solid #009846;
    background: #009846;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: auto;
    font-size: 20px;
    line-height: 63px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    vertical-align: top;
    margin-bottom: 20px;
    margin-top: 30px; }
    .partners-item__document:hover {
      text-decoration: none;
      color: #fff;
      opacity: .8; }

.portfolio-item {
  padding: 60px 0; }
  .portfolio-item:not(:last-child) {
    border-bottom: 10px solid #65696e; }
  .portfolio-item__img-wrap {
    text-align: right; }
  .portfolio-item__image {
    max-width: 100%; }

.tech-support-item {
  display: block;
  color: #fff;
  border: 1px solid #7f7f87;
  border-radius: 0;
  background: #7f7f87;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 20px;
  line-height: 61px;
  padding: 0 20px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  vertical-align: top;
  margin-top: 16px;
  margin-bottom: 16px; }
  .tech-support-item:hover {
    color: #fff;
    text-decoration: none;
    opacity: .8; }

.certificates__list {
  list-style: none;
  padding-left: 0; }

.certificates__item {
  margin: 20px 0; }

.certificates__link {
  text-decoration: underline;
  color: #2cbe82; }
  .certificates__link::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 75px;
    height: 75px;
    margin-right: 20px;
    background: url("/img/certificates/download-icon.png") 50% 50% no-repeat #009846; }
  .certificates__link:hover {
    color: #2cbe82;
    opacity: .8; }

@media (max-width: 767px) {
  .section.section--certificates {
    padding-top: 180px; }
  .certificates__link:before {
    display: none; } }

.contacts__item {
  margin-bottom: 40px; }

.contacts__inf {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }

.contacts__icon {
  margin-right: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.contacts-logistics {
  background: #334C57;
  color: #fff;
  padding: 30px 0; }
  .contacts-logistics__title {
    font-size: 42px;
    margin-bottom: 25px; }
  .contacts-logistics__inf {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px; }
  .contacts-logistics__item {
    margin-bottom: 40px;
    color: #c0d2d9; }
  .contacts-logistics__city {
    margin-bottom: 25px;
    font-weight: 600; }
  .contacts-logistics__icon {
    margin-right: 15px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .contacts-logistics__link {
    color: #38af49; }
  .contacts-logistics__value {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contacts-logistics__value-phone {
      color: #c0d2d9; }

.left-map, .right-map {
  margin-top: 40px;
  height: 300px; }

.catalog {
  margin-bottom: 40px; }
  .catalog__item {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 20px;
    background: #E8E8E8;
    color: #333;
    height: 220px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .catalog__item:hover {
      background: #2C8ABE;
      color: #fff;
      text-decoration: none; }
    .catalog__item_bg_green:hover {
      background: #2DBE83; }
    .catalog__item_product {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: auto; }
  .catalog__photo {
    width: 220px;
    height: 220px;
    overflow: hidden;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
            flex: 0 0 220px;
    background: #E8E8E8; }
    .catalog__photo_product {
      width: auto;
      height: auto;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto; }
  .catalog__inf {
    padding: 15px;
    width: 100%; }
  .catalog__name {
    font-weight: bold;
    font-size: 20px;
    position: relative; }
    .catalog__name:after {
      content: '';
      background: url(../img/cat-next.png) no-repeat;
      background-size: contain;
      width: 16px;
      height: 13px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -6px; }
    .catalog__item:hover .catalog__name:after {
      background: url(../img/cat-next-white.png) no-repeat; }
  .catalog-id {
    margin-bottom: 40px; }
    .catalog-id__title {
      font-size: 18px;
      color: #333;
      font-weight: bold;
      margin-bottom: 30px; }
    .catalog-id__text {
      line-height: 22px;
      margin-bottom: 30px; }
    .catalog-id__brand {
      margin: 56px 0 30px; }

.temp-pressure {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90%; }
  .temp-pressure__icon {
    margin-right: 5px; }
  .temp-pressure__title {
    margin-bottom: 13px;
    font-weight: bold; }
  .temp-pressure__value {
    padding-left: 23px;
    line-height: 20px; }

.dowload-id {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .dowload-id__item {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .dowload-id__icon {
    margin-right: 10px; }
  .dowload-id__link {
    text-decoration: underline;
    font-weight: bold;
    color: #666; }

.table-id__title {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0; }

.table-default th {
  color: #fff;
  background: #333;
  border-color: #D1CFCF;
  padding: 9px 20px 9px 30px; }

.table-default td {
  color: #666666;
  border-color: #D1CFCF;
  padding: 8px 20px 8px 30px; }

.table-default tbody > tr:nth-child(even) td {
  background: #E8E8E8; }

.table-default tbody > tr:hover td {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background: #939393;
  color: #fff; }

.modal-message__content {
  border-radius: 0; }

.modal-message__header {
  background: url(../img/rukovodstvo2.jpg) no-repeat;
  background-size: cover;
  height: 253px;
  border-radius: 0;
  padding: 7px 10px; }
  .modal-message__header .close {
    padding: 2px 6px;
    margin: -6px -10px; }

.modal-message__title {
  color: #fff; }

.modal-message__inf {
  max-width: 480px; }

.modal-message__text {
  font-size: 12px;
  color: #fff;
  margin-bottom: 5px; }

.form-message__control {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .form-message__control:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .form-message__control_type_arrea {
    min-height: 120px;
    max-height: 200px; }

.form-message__btn {
  background: #38af49;
  color: #fff;
  border: none;
  padding: 10px 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .form-message__btn:hover {
    opacity: .9; }

.footer {
  background: #464646;
  padding: 30px 0 20px; }

.bottom-menu__nav {
  list-style: none;
  padding-left: 0; }

.bottom-menu__item {
  margin-top: 25px;
  color: #fff; }

.bottom-menu__title {
  margin-bottom: 25px; }

.bottom-menu__nav-item {
  margin-bottom: 10px; }

.bottom-menu__nav-link {
  color: #fff;
  font-size: 15px; }
  .bottom-menu__nav-link:hover {
    color: #fff;
    text-decoration: none;
    opacity: .8; }

.copyright {
  padding: 20px 0; }
  .copyright__text {
    margin-top: 5px;
    font-size: 14px; }
  .copyright__link {
    color: inherit;
    text-decoration: underline; }
    .copyright__link:hover {
      color: inherit;
      text-decoration: none; }
  .copyright__phone-text {
    display: block;
    font-size: 13px; }
  .copyright__phone-link {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #464646; }
    .copyright__phone-link:hover {
      color: #464646; }

.cd-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  white-space: nowrap;
  background: rgba(56, 175, 73, 0.9);
  border: 2px solid transparent;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: 9999; }

.cd-top i {
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out; }

.cd-top:hover i {
  -webkit-animation: up 1s ease-in-out infinite;
  animation: up 1s ease-in-out infinite; }

@-webkit-keyframes up {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px); } }

@keyframes up {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px); } }

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -o-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  opacity: .5; }

.cd-top:hover {
  border: 2px solid #38af49;
  color: #38AF49;
  background-color: transparent;
  opacity: 1;
  text-decoration: none; }

.example-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
      grid-template-areas: "left right"; }

.example-grid > div:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left; }

.example-grid > div:last-child {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right; }

.section {
  padding: 60px 0; }

.section--certificates {
  padding-top: 200px; }

@media (max-width: 1199.98px) {
  .general-nav__link {
    padding: 23px 10px;
    font-size: 14px; }
  .general-nav__child-link {
    font-size: 14px; }
  .general-nav__children {
    top: 117px; }
  .tizzers-category {
    background: -webkit-gradient(linear, left top, right top, color-stop(45%, #2C8ABE), color-stop(45%, #2DBE83));
    background: -o-linear-gradient(left, #2C8ABE 45%, #2DBE83 45%);
    background: linear-gradient(to right, #2C8ABE 45%, #2DBE83 45%); }
  .tizzers-category__group:first-child {
    padding-right: 10px; }
  .tizzers-category__group:last-child {
    padding-left: 10px; }
  .tizzers-category__item {
    margin-right: 10px; }
  .tizzers-category__name {
    font-size: 11px; }
  .temp-pressure {
    max-width: 95%; } }

@media (max-width: 991.98px) {
  .header {
    padding-bottom: 7px; }
  .general-nav {
    display: none; }
  .mobile-menu-btn {
    display: block; }
  .search-btn {
    width: 45px;
    height: 45px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
    border-radius: 50%; }
  .caption-slide__text {
    font-size: 34px;
    line-height: 44px; }
  .tizzers-category__cflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .tizzers-category__group {
    padding: 0;
    margin-bottom: 30px; }
  .tizzers-category__group:last-child {
    margin-bottom: 0; }
  .tizzers-category {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(49%, #2C8ABE), color-stop(49%, #2DBE83));
    background: -o-linear-gradient(bottom, #2C8ABE 49%, #2DBE83 49%);
    background: linear-gradient(to top, #2C8ABE 49%, #2DBE83 49%); }
  .tizzers-category__item:last-child {
    margin-right: 0; }
  .news-company__photo {
    height: 135px; }
  .catalog__item {
    height: 130px; }
  .catalog__photo {
    width: 130px;
    height: 130px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px; }
  .catalog__name {
    font-weight: bold;
    font-size: 18px;
    position: relative; }
  .catalog__item_product {
    height: auto; }
  .catalog__photo_product {
    width: auto;
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
  .catalog-id__photo {
    margin-bottom: 40px;
    display: block; }
  .catalog-id__title {
    margin-bottom: 15px; }
  .catalog-id__brand {
    margin: 0px 0 30px; }
  .modal-message__header {
    background-position: top left;
    height: auto; }
  .modal-message__text {
    font-size: 13px;
    margin-bottom: 7px; } }

@media (max-width: 767.98px) {
  .caption-slide__text {
    font-size: 26px;
    line-height: 34px; }
  .logo_footer {
    text-align: center; }
  .copyright__text {
    font-size: 12px; }
  .copyright__phone {
    margin-top: 20px; }
  .news-company__item {
    margin-bottom: 20px; }
  .catalog-id__brand {
    margin: 40px 0 30px; }
  .dowload-id {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .dowload-id__item + .dowload-id__item {
    margin-left: 20px; }
  .temp-pressure {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 100%; }
    .temp-pressure .section {
      padding: 30px 0; }
    .temp-pressure .quality {
      height: 397px; } }

@media (max-width: 575.98px) {
  .logo {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center; }
  .caption-slide__text {
    font-size: 20px;
    line-height: 28px; }
  .tizzers-category__space {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .tizzers-category__item {
    margin: 0 5px 15px; }
  .tizzers-category {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(61%, #2C8ABE), color-stop(61%, #2DBE83));
    background: -o-linear-gradient(bottom, #2C8ABE 61%, #2DBE83 61%);
    background: linear-gradient(to top, #2C8ABE 61%, #2DBE83 61%); }
  .catalog__name {
    font-size: 15px;
    padding-right: 17px; }
  .catalog__inf {
    padding: 15px 8px; }
  .table-id__title {
    margin: 50px 0 30px; }
  .modal-message__text {
    font-size: 14px; } }

@media (max-width: 442px) {
  .tizzers-category {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(51%, #2C8ABE), color-stop(51%, #2DBE83));
    background: -o-linear-gradient(bottom, #2C8ABE 51%, #2DBE83 51%);
    background: linear-gradient(to top, #2C8ABE 51%, #2DBE83 51%); } }

@media (max-width: 428px) {
  .pre-header__phone-link {
    margin-bottom: 10px; }
  .col-es {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .catalog__photo_product {
    width: 100%; }
  .catalog__img {
    width: 100%; } }

@media (max-width: 380px) {
  .tizzers-category__item {
    margin: 0 0 15px; } }

@media (max-width: 575.98px) {
  .example-grid {
    display: block; }
  .example-grid > div {
    padding: 10px 0; } }

.example-img {
  width: 100%; }

.parent {
  background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7); }
